.featuresContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.iconsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 24px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.iconCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  mix-blend-mode: multiply;
}

.iconImage {
  width: 20px;
  height: 20px;
}

.iconLabel {
  font-size: 16px;
  font-weight: 500;
  color: #101828;
  white-space: nowrap;
  text-transform: capitalize;
}

.detailsTitle {
  margin-left: 8px;
}

.divider {
  border: none;
  border-top: 2px solid var(--border-color);
  margin: 16px 0;
}

@media (min-width: 768px) {
  .iconsGrid {
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
  }

  .iconCard {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    border-radius: 100px;
    width: fit-content;
    flex: 0 0 auto;
  }

  .iconImage {
    width: 30px;
    height: 30px;
  }

  .iconLabel {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .detailsTitle {
    margin: 0;
  }

  .featuresContainer {
    gap: 100px;
  }

  .iconsGrid {
    padding: 0 52px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .iconCard {
    gap: 8px;
    width: fit-content;
    flex: 0 0 auto;
  }

  .iconImage {
    width: 20px;
    height: 20px;
  }

  .divider {
    margin: 24px 0;
  }
}
